<div class="modal-overlay" id="change-password-modal">
  <div class="modal-box">
    <div class="modal-header"><h3>Change Password</h3><button class="modal-close" onclick="closeModal('change-password-modal')"><span data-icon="x"></span></button></div>
    <div class="modal-body">
      <div class="field"><label>Current Password</label><input type="password" id="cp-old" /></div>
      <div class="field"><label>New Password</label><input type="password" id="cp-new" minlength="6" /></div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline" onclick="closeModal('change-password-modal')">Cancel</button>
      <button class="btn btn-primary" id="save-password-btn">Update Password</button>
    </div>
  </div>
</div>